/* ================= RESET ================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================= NAVBAR ================= */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 0 6%;
  background: #0e1626;
  display: flex;
  align-items: center;
  z-index: 9999;
}

/* ================= LEFT ================= */
.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #f97316;
}

/* ================= NAV LINKS (DESKTOP) ================= */
.nav-links {
  display: flex;
  list-style: none;
  gap: 56px;
  margin-left: auto; /* 🔥 push menu to right */
}

.nav-links li a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.nav-links li a:hover {
  color: #f97316;
}

/* ================= ACTIVE LINK ================= */
.nav-links a.active {
  color: #f97316;
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #f97316;
  border-radius: 2px;
}

/* ================= DOWNLOAD ICON ================= */
.download-cv {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #e5e7eb;
  transition: 0.3s;
}

.download-cv:hover {
  color: #f97316;
  transform: translateY(-2px);
}

/* ================= RIGHT ================= */
.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 16px;
}


/* ================= HAMBURGER ================= */
.hamburger {
  display: none; /* hidden on desktop */
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  width: 22px;
  height: 2px;
  background: #e5e7eb;
  transition: 0.3s;
}

/* ================= HAMBURGER ANIMATION ================= */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  /* show hamburger */
  .hamburger {
    display: flex;
  }

  /* mobile menu container */
  .nav-links {
    position: fixed;
    top: 64px;                 /* below navbar */
    left: 0;
    width: 100%;
    height: calc(100vh - 64px); /* 🔥 full screen minus navbar */
    background: #0b1220;
    flex-direction: column;
    gap: 0;
    display: none;
    z-index: 9998;
    overflow-y: auto;
  }

   .nav-left {
    display: none; /* 🔥 hide SM on mobile */
  }

  /* open state */
  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    padding: 18px 6%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  /* remove underline in mobile */
  .nav-links a.active::after {
    display: none;
  }

  /* download icon align */
  .download-cv {
    justify-content: flex-start;
    width: 100%;
  }
}

